<header class="text-white body-font bg-black shadow-lg">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-[rgba(252,210,192,255)]  rounded-full" viewBox="0 0 24 24">

        <path d="M12 2C9.243 2 7 4.243 7 7c0 1.517.84 2.82 2.086 3.528C9.152 11.822 9 12.392 9 13c0 1.383.569 2.63 1.48 3.54C10.719 17.569 11 18.242 11 19c0 1.1-.9 2-2 2H5.5c-.276 0-.5.224-.5.5S5.224 22 5.5 22H19c.276 0 .5-.224.5-.5S19.276 21 19 21h-3.5c-1.1 0-2-.9-2-2 0-.758.281-1.431.52-1.46C14.431 15.63 15 14.383 15 13c0-.608-.152-1.178-.086-1.472C16.16 9.82 17 8.517 17 7c0-2.757-2.243-5-5-5zm-2 9c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm4 0c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1z"/>
      </svg>
        <span class="ml-3 text-2xl font-bold text-[rgba(252,210,192,255)] tracking-wide">Yoni_Salon</span>

    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-lg justify-center">
      <a href="#" class="mr-8 hover:underline text-[rgba(252,210,192,255)]">Home</a>
      <a href="#" class="mr-8 hover:underline text-[rgba(252,210,192,255)]">Services</a>
      <a href="#" class="mr-8 hover:underline text-[rgba(252,210,192,255)]">Contact</a>
      <a href="#" class="mr-8  transition-all duration-200 hover:underline text-[rgba(252,210,192,255)]">Gallery</a>
    </nav>



    <button class="bg-[rgba(252,210,192,255)] text-black py-2 px-6 rounded-lg shadow-lg transition-all duration-300">
      <a href="mailto:yoni_salon.co.za" class="no-underline text-black">Book Now</a>
    </button>

  </div>
</header>

