<app-navbar></app-navbar>
<body>
  <div class="container">
    <h2 class="text-xl">OUR SERVICES:</h2>
    <div class="top flex" id="top">
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/salon.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-black-900 dark:text-black"
          >
            Hair Styling
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-black-400">
            Transform your look at Yoni's Salon with expert styling,
            personalized care, and flawless results.
          </p>
        </div>
      </a>
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card2"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/nails.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-gray-900 dark:text-white"
          >
            Nail Care
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Get stunning nails at Yoni's Salon—expert designs, vibrant colors,
            and meticulous care for every client.
          </p>
        </div>
      </a>
    </div>
    <div class="bottom flex" id="bottom">
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card4"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/shave.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-gray-900 dark:text-black"
          >
            Men's Grooming
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-black-400">
            Experience top-notch men's grooming at Yoni's Salon—sharp cuts,
            smooth shaves, and tailored styles await.
          </p>
        </div>
      </a>
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/makeup.webp"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-gray-900 dark:text-black"
          >
            Make Up
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-black-400">
            Elevate your look with Yoni's Glam—expert makeup artistry, flawless
            finishes, and personalized beauty enhancements.
          </p>
        </div>
      </a>
    </div>
    <div class="bottom flex" id="bottom">
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card2"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/wax.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-gray-900 dark:text-white"
          >
            Waxing
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Achieve smooth, hair-free skin with Yoni's Waxing—expert, gentle
            waxing for flawless results and lasting comfort.
          </p>
        </div>
      </a>
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="card4"
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
          src="assets/facial.jpg"
          alt=""
        />
        <div class="flex flex-col justify-between p-4 leading-normal">
          <h5
            class="mb-2 text-2xl font-normal tracking-tight text-gray-900 dark:text-black"
          >
            Facials
          </h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-black-400">
            Revitalize your skin at Yoni's Salon—luxurious treatments for a
            glowing complexion, deep cleansing, and relaxation.
          </p>
        </div>
      </a>
    </div>
    <div class="button" id="btnInfo">
      <button class="px-6 py-2 tracking-wide rounded-lg">More Info</button>
    </div>
  </div>
</body>
