@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
#card{
    background-color: rgba(252,210,192,255);
}
*{
    font-family: 'Libre Baskerville';
    /* font-size: 14px; */   
}
body{
    /* background-color:yellow; */
}

.container{

justify-content: center;
align-items: center;
min-height: 112vh;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
gap: 8px;
}

#card2{
    background-color: rgba(0, 0, 0, 0.88);
    color: whitesmoke;
}
#card4{
    background-color: whitesmoke;
}

#btn{
    background-color: transparent;
    color: black;
    font-weight: 400;
    font-size: 11px;
}
#btn1{
    background-color: transparent;
    color: black;
    font-weight: 400;  
    font-size: 11px;
}
#btn2{
    background-color: transparent;
    /* color: black; */
    font-weight: 400;
    font-size: 11px;
}

#btn:hover{
    /* background-color: rgb(252,210,192,255); */
    color: rgba(252,210,192,255);
}
#btn1:hover{
    background-color: rgba(250,184,157,255);
    color: white;
}
#btn2:hover{
    color: rgb(252,210,192,255);
}
h1{
    font-size: 18px;
}
p{
    font-size: 14px;
}
h2{
    font-size: 18px;
}
#top{
    /* gap: 3px; */
}
#bottom{
    /* gap: 3px */
}

img{
    height: 90px;
}