 <!-- <app-nav></app-nav> -->
 <body>
<div class="container">
    <h2 class="text-xl">OUR SERVICES:</h2>
<div class="top flex" id="top">
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="assets/hairstyle.webp" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </div>
    </a>
    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="assets/nails.jpg" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </div>
    </a>
    


</div>

<div class="bottom flex" id="bottom">
<div class="flex max-w-md overflow-hidden bg-white square-lg" id="card4">
    <div class="w-2/3 bg-cover" style="background-image: url('https://d2zdpiztbgorvt.cloudfront.net/us/cms_content/377/ed9d18e3cc6f49d292323a3ec4e073be.jpg')"></div>

    <div class="w-2/3 p-4 md:p-4">
        <h1 class="text-xl text-gray-800 dark:text-black">MEN'S GROOMING</h1>

        <p class="mt-2 text-sm text-black-600 dark:text-black-400">
             Our clients can expect to receive professional grooming services 
            <!-- Men have a variety of different services they can receive -->
         <br> We offer:<br>
         Beard shaving R80<br>
         Men's Haircuts R90<br>
         Eyebrow waxing R70
        </p>

        <div class="flex mt-2 item-center">
            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-700 fill-current dark:text-gray-300" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>
        </div>

        <div class="flex justify-between mt-3 item-center">
            <h1 class="text-black font-bold text-gray-700 dark:text-black-200 md:text-xl"></h1>
            <a href="mailto:jadeluke.booysen@gmail.com"><button class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-600 focus:outline-none focus:bg-gray-700 dark:focus:bg-gray-600" id="btn">Book Now></button></a>
        </div>
    </div>
</div>


<div class="flex max-w-md overflow-hidden bg-white square-lg " id="card">
    <div class="w-2/3 bg-cover" style="background-image: url('https://i0.wp.com/www.maoripasifikatrades.co.nz/wp-content/uploads/2020/04/Roxanne-applying-makeup.jpg?resize=700%2C702&ssl=1')"></div>

    <div class="w-2/3 p-4 md:p-4">
        <h1 class="text-xl text-gray-800 dark:text-black">MAKE UP</h1>

        <p class="mt-2 text-sm text-black-600 dark:text-black-400"> Our clients can expect to receive professional beauty services
          <br> We offer: <br>
          Foundation R80<br>
          Highlight & Glow R85<br>
          Personalised style R100


        </p>

        <div class="flex mt-2 item-center">
            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>

            <svg class="w-5 h-5 text-black-500 fill-current" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z" />
            </svg>
        </div>

        <div class="flex justify-between mt-3 item-center">
            <h1 class="text-lg font-bold text-gray-700 dark:text-black-200 md:text-xl"></h1>
            <a href="mailto:jadeluke.booysen@gmail.com"><button class="px-2 py-1 text-xs font-bold text-white uppercase transition-colors duration-300 transform bg-gray-800 rounded dark:bg-gray-700 hover:bg-gray-700 dark:hover:bg-gray-600 focus:outline-none focus:bg-gray-700 dark:focus:bg-gray-600" id="btn1">Book Now></button></a>
        </div>
    </div>
</div>
</div>
</div>
</body>

